<?xml version="1.0" encoding="UTF-8" ?>  <!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd"><beans>  	<bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheFactoryBean">	    <property name="cacheManager">	        <bean class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">	    		<property name="configLocation"><value>classpath:ehcache.xml</value></property>	        </bean>	    </property>	    <property name="cacheName"><value>CODE_CACHE</value></property>	</bean>  </beans> 