<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<!-- 시작.. 프로젝트에서 사용하는 메인 DB 정보 -->
	
    <bean id="projectDataSourceTarget" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="projectDS" /><!--  DATA SOURCE 명 -->
    </bean>

	<!--  sql debug시 파라미터에 set해서 뿌려주기위해 사용. -->
   <bean id="projectDataSource" class="com.p6spy.engine.spy.P6DataSource">
        <constructor-arg>
            <ref local="projectDataSourceTarget"/>
        </constructor-arg>
    </bean>
	
	<!-- bean id="projectSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean" --> 
	
	<bean id="projectSqlSessionFactory" class="project.jun.dao.ibatis.RefreshableSqlSessionFactoryBean">
		<property name="configLocation" value="/WEB-INF/classes/com/base/sql/SqlMapConfig.xml" /> 
		<!-- property name="mappingLocations" value="/WEB-INF/classes/\*\*\/sql/\*.xml" / --> 
		<property name="dataSource" ref="projectDataSource" />
		<!--  TODO for sql reload -->
		<property name="checkInterval" value="500" /> 	
	</bean>

	<!-- Execute Type REUSE (default) -->
	<bean id="projectSqlSessionReuseTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="projectSqlSessionFactory" />
		<constructor-arg index="1" value="REUSE" />
	</bean>
	<!-- 끝.. 프로젝트에서 사용하는 메인 DB 정보 -->


	<!-- 시작..  SCHEME 정보를 얻기위한 DB 정보 -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"> 
		<property name="location" value="classpath:database.properties"/> 
	</bean>

    <bean id="dbDataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${database.class}"/>
		<property name="url" value="${database.url}"/> 
        <property name="username" value="${database.username}"/> 
        <property name="password" value="${database.password}"/> 
    </bean>

	<bean id="dbSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"> 
		<property name="configLocation" value="/WEB-INF/classes/com/base/sql/SqlMapConfig_JDBC.xml" /> 
		<property name="dataSource" ref="dbDataSource" />
		<!-- property name="checkInterval" value="500" / --> 
	</bean>

	<!-- Execute Type REUSE (default) -->
	<bean id="dbSqlSessionReuseTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="dbSqlSessionFactory" />
		<constructor-arg index="1" value="REUSE" />
	</bean>
	<!-- Execute Type BATCH (default) -->
	<bean id="dbSqlSessionBatchTemplate" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="dbSqlSessionFactory" />
		<constructor-arg index="1" value="BATCH" />
	</bean>

	<!-- 끝.. SCHEME 정보를 얻기위한 DB 정보 -->
	
</beans>
