<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-lazy-init="true" >
	<import resource="./applicationContext-dao.xml"/>

	<bean id="HoDelegate" class="project.jun.delegate.HoDelegate">
		<property name="hoDaoMap">
			<map>
				<entry key="ProjectDao"><ref bean="proxyProjectDao"/></entry>
				<entry key="DbDao"><ref bean="proxyDbDao"/></entry>
			</map>
		</property>
	</bean>


	<bean id="DataBaseDelegateWithoutTx" class="com.base.system.delegate.DataBaseDelegate" parent="HoDelegate" singleton="false"></bean>
	<bean id="DataBaseDelegate" parent="transactionProxyTemplate" singleton="false">
		<property name="target">
			<ref local="DataBaseDelegateWithoutTx"/>
		</property>
	</bean>

	
</beans>